@CHARSET "UTF-8";
body{
	font-size:13px;
	font-family:Gulim, dotum, sans-serif;
}

a:link {
	text-decoration:none; 
	color:blue
}

a:visited {
	text-decoration:none; 
	color:red
}

a:hover {
	text-decoration:underline;
	color:black
}
