<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.BlogMapper">

	<insert id="replyWrite" parameterType="replyModel.ReplyDto">
  	<![CDATA[insert into linereply values(linereply_bunho_seq.nextval, #{board_number}, #{line_reply}) ]]>
	</insert>

	<select id="replyGetBunho" resultType="int">
  	<![CDATA[select nvl(max(bunho),0) from linereply ]]>
	</select>

	<select id="replyList" parameterType="int" resultType="replyModel.ReplyDto">
  	<![CDATA[select * from linereply where board_number=#{boardNumber} order by bunho desc]]>
	</select>

	<delete id="replyDelete" parameterType="int">
  	<![CDATA[delete from linereply where bunho=#{bunho} ]]>
	</delete>

	<select id="replySelect" parameterType="int" resultType="replyModel.ReplyDto">
		<![CDATA[select * from linereply where bunho=#{bunho}]]>
	</select>

	<update id="replyUpdate" parameterType="java.util.HashMap">
		<![CDATA[update linereply set line_reply=#{lineReply} where bunho=#{bunho}]]>
	</update>
  
</mapper>